# Dependencies
node_modules/
package-lock.json

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*

# Build
dist/
build/
*.zip

# OS
.DS_Store
Thumbs.db